.app_table {
    color: #423d3d;
}

table {
    border-collapse: collapse;
    margin-top: 25px;
    margin-bottom: 15px;
}
table th,
table td {
    padding: 0 5px;
    border: 1px solid #423d3d;
    text-align: center;
}
